.search {

    &__input-container{
        margin: 0 15%;
    }

    &__total-container {
        text-align: center;
    }

    &__input {
        width: 100%;
        padding: 5px;
        border: 1px solid $brand-color-1;
        border-radius: 3px;
        box-sizing: border-box;
        background: transparent;
        color: $white;
        outline: none;
    }

    &__result-container {
        margin: 20px 15px 0 20px;
        height: 85%;
        min-height: 85%;
    }

    &__pagination {
        margin-top: 20px;
    }
}